
<div class="row">
    <div class="col-6">
        <select [(ngModel)]="chosenValue" (change)="selectOnChange()">
            <option value="1" selected>2010-2011</option>
            <option value="2">2011-2012</option>
            <option value="3">2012-2013</option>
            
        </select>
        <canvas id="myChart" ></canvas>

        
    </div>
    <div class="col-6">
        <img src="../assets/hero1.png" alt="heroImg" class="col-md-3">
    </div>
</div>
<div>
<div class="row">
    <mat-label class="col-1 mt-1">Add score</mat-label>
    <button class="col-1 " mat-raised-button color="primary" (click)="incrementScore()">+1</button>


</div>
<div class="row">
<button mat-raised-button color="warn" routerLinkActive="active"
[routerLink]="['/modifyHero', hero?.id]" class="col-3 offset-md-3">Modify</button>
</div>
</div>

